.width100{
width: 100%;
}

.width50{
    width: 100%;
    }
.centerAlign{
text-align: center;
}

.popup {
position: fixed;
width: 100%;
height: 100%;
top: 0px;
left: 0;
right: 0;
bottom: 0;
margin: auto;
z-index: 1;
background-color: rgba(0,0,0, 0.1);
}
.popup_inner {
position: absolute;
left: 25%;
right: 25%;
top: 10%;
bottom: 25%;
min-height: fit-content;
margin: auto;
background: white;
width: 60%;
z-index: 1000;
overflow-x: hidden;
}
.close-popup{
float: right;
position: relative;
background-color: white;
top: 0px;
padding: 5px 20px;
border: none;
text-align: center;
}
.popup-backgroung{
background-color: #320033;
color: white;
}
.border{
    border: 2px solid #f60;
}

.text-hn-orange {
    --text-opacity: 1;
    color: #f60;
    color: rgba(255,102,0,var(--text-opacity));
}

.p-4 {
    padding: 1rem;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
    text-align: center;
}

.items-start {
    align-items: start;
    text-align: start;
}

.items-end {
    align-items: end;
    text-align: end;
}

.flex {
    display: flex;
}

.inFlex{
    display: inline-flex;
}

.flex-Cloumn{
    flex-direction: column;
}

.flex-row{
    flex-direction: row;
}

.text-3xl {
    font-size: 1.875rem;
    font-weight: inherit;
    text-align: center;
}

.text-xl {
    font-size: 1rem;
    font-weight: inherit;
    margin: 0 0 0 12px;
}

.news-grid, .news-grid-header {
    grid-template-columns: minmax(85px,100px) minmax(85px,100px) minmax(85px,100px) 6fr
}

.text-white {
    --text-opacity: 1;
    color: #fff;
    color: rgba(255,255,255,var(--text-opacity));
}

.aboutme{
    --text-opacity: 1;
    color: #f60;
    color: rgba(255,102,0,var(--text-opacity));
    text-decoration: none;
}

.mt-6 {
    margin-top: 1.5rem;
}

.mtl-6 {
    margin: 1rem 0 0 1rem;
}

.ml-1{
    margin: 0 0 0 1rem; 
}

.mr-1{
    margin: 0 1rem 0 0 ; 
}
.grid {
    display: grid;
}

.bg-hn-orange {
    --bg-opacity: 1;
    background-color: #f60;
    background-color: rgba(255,102,0,var(--bg-opacity));
}

.break-all {
    word-break: break-all;
}
.ml-2 {
    margin-left: .5rem;
}

.text-hn-gray {
    --text-opacity: 1;
    color: #828282;
    color: rgba(130,130,130,var(--text-opacity));
}

.recharts-wrapper{
    width: 100%;
    height: 100%;
}



.totalPages{
    width: 50%;
}

.prevnext-right{
    width: 50%;
    float: right;
    margin: 0 auto;
    align-items: center;
    text-align: end;
}

.pt-0{
    padding: 0 20px 20px;
}

.pb-0{
    padding: 20px 20px 0;
}

.opacity-1{
    opacity: 1;
}

.opacity-25 {
    opacity: .25;
}

.mr-2 {
    margin-right: .5rem;
}

.DataImage{
    text-align: center;
    padding: 1rem; 
}

.NoDataImage{
    width: auto;
    object-fit: cover;
    height: 100%;
}

.spinner-b {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 25%;
    left: 50%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid #fff;
    border-top-color: #f60;
    animation: spinner 0.6s linear infinite;
}
@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.spinnerName {
    width: 200px;
    height: 300px;
}

.cursor-pointer {
    cursor: pointer;
}

.txt{
    /* position: fixed; */
   margin-top: 25vw;
   /* width: 50%; */
   text-align: center
}
.txt:focus{
    margin-top: 5
} 

.marginBooks{
    margin: 2rem 5rem;
}

.marginAuto{
    margin: 0 auto;
}


.searchBooks{
    padding: 1rem 3rem;
    border-radius: 15px;
    border: 1px solid #e5e5e5;
    color: black;
    width: 85%;
    margin: 2rem 5rem;
    font-size: 1rem;
}

.parent{
    display: flex;
    flex-wrap: wrap;
}


.BookShell{
    border: 1px solid #e5e5e5;
    margin: 0.5rem 0 0.5rem 2rem;
    padding: 1rem;
    border-radius: 0.4rem;
    flex: 1 0 25%;
    display: flex;
}


.btn-cart {
        color: #fff !important;
        background-color: #17a2b8 !important;
        border-color: #17a2b8 !important;
}

.btnBorrow {
    color: #fff !important;
    background-color: #ffc107 !important;
    border-color: #ffc107 !important;
}

.btnPreview{
    color: #fff !important;
    background-color: #007bff !important;
    border-color: #007bff !important;
}

.btn_Button{
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}